server:
  port: 8080

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      globalcors:
        add-to-simple-url-handler-mapping: true
        corsConfigurations:
          '[/**]':
            allowedOriginPatterns: "http://localhost:3000"
            allowedMethods: "*"
            allowedHeaders: "*"
            allowCredentials: true

      routes:
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/auth/**

        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/users/**

        - id: group-service
          uri: lb://group-service
          predicates:
            - Path=/groups/**

        - id: event-service
          uri: lb://event-service
          predicates:
            - Path=/events/**,/event-members/**

eureka:
  client:
    service-url:
      defaultZone: http://service-discovery:8761/eureka
