spring:
  application:
    name: event-service

  datasource:
    url: jdbc:postgresql://event-db:5432/event_service
    username: postgres
    password: 12345678
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false

server:
  port: 8080

eureka:
  client:
    service-url:
      defaultZone: http://service-discovery:8761/eureka
